<div
  class="fixed z-[1000]"
  x-data="
    {
      showCartDrawer: false,
      loading: false,
      updateCart() {
        fetch('/?view=cart')
        .then(response => response.text())
        .then(cartData => {
          {% comment %} document.querySelector('#cart-drawer').innerHTML = cartData; {% endcomment %}
          $refs.cart_content.innerHTML = cartData;

          // This code is use to parse json object. for cart count
                var el = document.createElement('div');
                el.innerHTML = cartData;
                var cartCount = JSON.parse(el.querySelector('[data-options]').innerHTML).item_count;
                $dispatch('cart-count-updated', cartCount);
                this.loading = false;
        })
      }
    }
  "
  x-show="showCartDrawer"
  @cart-updated.window="updateCart"
  @toggle-cart.window="showCartDrawer = !showCartDrawer"
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
  x-cloak
>
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      x-show="showCartDrawer"
      x-transition.opacity
      @click="showCartDrawer = false"
    ></div>

    <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full">
      <div
        class="pointer-events-auto relative w-screen max-w-xs md:max-w-md"
        x-show="showCartDrawer"
        x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
        x-transition:enter-start="translate-x-full opacity-0"
        x-transition:enter-end="translate-x-0 opacity-100"
        x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-full opacity-0"
      >
        <div class="absolute left-0 top-0 -ml-8 flex pr-2 pt-4 sm:-ml-10 sm:pr-4">
          <button
            type="button"
            @click="showCartDrawer = false"
            class="relative rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white"
          >
            <span class="absolute -inset-2.5"></span>
            <span class="sr-only">Cart</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        {% comment %} {% render 'loader' %} {% endcomment %}

        <div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl" x-ref="cart_content">
          {% render 'cart-form' %}
        </div>
      </div>
    </div>
  </div>
</div>
