<div class="py-8">
        {% assign blog = section.settings.blog %}
        <h2 class="text-center">{{ section.settings.heading | escape }}</h2>

        <div class="w-full md:max-w-6xl mx-auto">
            <div class="blog-slider overflow-hidden">
                
                    {% for article in blog.articles limit:section.settings.number_of_blog_posts %}
                        {% render 'blog-card', article: article %}
                    {% else %}
                        {% for item in (1..6) %}
                            {% render 'product-card-placeholder' %}
                        {% endfor %}
                    {% endfor %}
                
            </div>
        </div>
</div>



{% schema %}
{
    "name": "Blog Posts Section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Blog Posts Heading",
            "default": "Blog Posts"
        },
        {
            "type": "text",
            "id": "blog_read_more",
            "label": "Read more label",
            "default": "Read more"
        },
        {
            "type": "range",
            "id": "number_of_blog_posts",
            "step": 1,
            "min": 1,
            "max": 6,
            "label": "Blog posts per page",
            "default": 3
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Select Blog"
        }
    ],
    "presets": [
        {
            "name": "blog posts section"
        }
    ]
}
{% endschema %}