<div class="flex flex-col my-8 px-4">
    <div class="flex items-center flex-col md:flex-row justify-between w-full md:max-w-6xl mx-auto">
        <h2 class="capitalize ">{{ section.settings.title }}</h2>
        <div class="flex border hover:border-[#D4B872] bg-white px-3 py-2 shadow-xl">
            <a href="{{ section.settings.featured_collection.url }}" class="text-base capitalize ">
                load more 
            </a>
            {% include 'icon-arrow-right' %}
        </div>
    </div>
    <div class="w-full md:max-w-6xl mx-auto">
        <div class="future-slider overflow-hidden">
            
                {% for product in section.settings.featured_collection.products limit:section.settings.number_of_products_show %}
                    {% render 'product-card', productData: product %}
                {% else %}
                    {% for item in (1..6) %}
                        {% render 'product-card-placeholder' %}
                    {% endfor %}
                {% endfor %}
            
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        
    });
</script>

{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "featured collection"
        },
        {
            "type": "select",
            "id": "title_align",
            "label": "Title Align",
            "default": "text-center",
            "options": [
                {
                    "label": "Left",
                    "value": "text-left"
                },
                {
                    "label": "Center",
                    "value": "text-center"
                },
                {
                    "label": "Right",
                    "value": "text-right"
                }
            ] 
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "number_of_products_show",
            "min": 5,
            "max": 15,
            "default":5,
            "step": 5,
            "label": "Number of Products to show"
        }     
    ],
    "presets": [
        {
            "name": "Featured Collection"

        }
    ]
}
{% endschema %}

